/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/testpipeline -profile mytest,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

//process.container = 'podman'
//process.container = 'nextflow/examples:latest'
//podman.enabled = true

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 6
    max_memory = '32.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed

    input  = 'robrum_sample_sheet.csv'
    gtf_feature_type = 'gene' //or exon



    // Genome references
  // genome = 'R64-1-1'

    hisat2_build_memory = '33.GB'
    contrasts = 'rubrum_contrasts.csv'
    report_file = 'report.Rmd'
    study_name                 = 'study'
    study_type                 = 'rnaseq'
    study_abundance_type       = 'counts'

     // Sample sheet options
    observations_type          = 'sample'
    observations_id_col        = 'sample'
    observations_name_col      = 'sample'

    // Filtering options
    filtering_min_samples      = 1
    filtering_min_abundance    = 1
    filtering_min_proportion   = null
    filtering_grouping_var     = null

    // Exploratory options
    exploratory_main_variable      = 'auto_pca'
    exploratory_clustering_method  = "ward.D2"
    exploratory_cor_method         = "spearman"
    exploratory_n_features         = 500
    exploratory_whisker_distance   = 1.5
    exploratory_mad_threshold      = -5
    exploratory_assay_names        = "raw,normalised,variance_stabilised"
    exploratory_final_assay        = "variance_stabilised"
    exploratory_palette_name       = 'Set1'

    // Differential options
    differential_file_suffix                = ".deseq2.results.tsv"
    differential_feature_id_column          = "gene_id"
    differential_feature_name_column        = "gene_name"
    differential_fc_column                  = "log2FoldChange"
    differential_pval_column                = "pvalue"
    differential_qval_column                = "padj"
    differential_min_fold_change            = 2
    differential_max_pval                   = 1
    differential_max_qval                   = 0.05
    differential_foldchanges_logged         = true
    differential_palette_name               = 'Set1'
    differential_subset_to_contrast_samples = false

    // DESeq2-specific options
    deseq2_test                       = "Wald"
    deseq2_fit_type                   = "parametric"
    deseq2_sf_type                    = 'ratio'
    deseq2_min_replicates_for_replace = 7
    deseq2_use_t                      = false
    deseq2_lfc_threshold              = 0
    deseq2_alt_hypothesis             = 'greaterAbs'
    deseq2_independent_filtering      = true
    deseq2_p_adjust_method            = 'BH'
    deseq2_alpha                      = 0.1
    deseq2_minmu                      = 0.5
    deseq2_vs_method                  = 'vst' // 'rlog', 'vst', or 'rlog,vst'
    deseq2_shrink_lfc                 = true
    deseq2_cores                      = 1
    deseq2_vs_blind                   = true

     deseq2_vst_nsub                   = 1000








}
